.container {
  display: flex;
  max-width: 100%;
  border-bottom: 1px solid transparent;
  margin-bottom: 60px;
}

.itemsContainer {
  min-width: 628px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tab {
  position: relative;
  padding: 18px 18px 16px;
  margin: 0 0 -1px;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-family: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", "Helvetica Neue", "Helvetica", "Arial", "\30E1\30A4\30EA\30AA, meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4 pro w3", "hiragino kaku gothic pro", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  color: #162D3D;
}

.active {
  border-color: #3899EC;
}

.hasDivider {
  border-color: #DFE5EB;
}
