@import '../../../common.scss';

.head {
  @extend .commonText;
  display: flex;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.subtitle {
  margin-left: 1em;
  color: #3899EC;
}
