@import "../../ui/colors.scss";
@import "../../ui/typography.scss";

.description {
  margin-bottom: calc(24px - 16px);

  :global .markdown-body p {
    @include font(roman);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: $D10;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.tr {
  &:nth-child(odd) {
    background-color: rgba(240, 244, 247, 0.42);
  }
}

.td {
  padding: 10px;

  a {
    @include font(light);
    font-size: 16px;
    line-height: 1.88em;
    color: rgb(56, 153, 236);
    text-decoration: none;

    &:hover {
      color: rgb(78, 183, 245);
    }
  }

}

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

.table-markdown {
  @include font(light);
  font-size: 16px;
  line-height: 1.88em;

  p {
    margin: 0;
  }
}

.errorSection {
  background-color: $R20;
  padding: 10px;
}
