@import "../common.scss";

.root {
  @extend .commonText;
  display: inline-flex;
  align-items: center;
}

.prefix {
  padding: 0 6px 0 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
