.root {
  max-width: 1254px;
  width: 100%;
  display: inline-block;
  border-radius: 2px;
  transition: all .2s;
  box-sizing: border-box;
}

.demo {
  padding: 30px 0px 30px;
} 

.demoItems {
  -st-states: inverted;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.demoItems:inverted {
  background: linear-gradient(45deg, #eff2f6 25%, transparent 25%, transparent 75%, #eff2f6 75%, #eff2f6 0), linear-gradient(45deg, #eff2f6 25%, transparent 5%, transparent 75%, #eff2f6 75%, #eff2f6 0), #fff;
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-clip: border-box;
  background-origin: padding-box;
}

.meta {
  position: relative;
  padding: 18px 10px 32px 0;
  border-radius: 0 0 2px 2px;
  transition: background-color .4s;
  font-size: 14px;
}

.description code {
  margin: 0 1px;
  background: #f2f4f5;
  padding: .2em .4em;
  border-radius: 3px;
  font-size: .9em;
  border: 1px solid #eee;

}

.code {
  width: auto;
  display: block;
  overflow: auto;
  border-radius: 0;
  border-top: 1px dashed #ebedf0;
}

.codeHide {
  display:none;
}

.iconShow {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  transition: background-color 0.4s;
}

.iconHide {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  transition: background-color 0.4s;
}

.description {
  display: block;
  line-height: 2;
  font-size: 14px;
  font-weight: 300;
}

.title {
  position: absolute;
  top: -12px;
  padding: 1px 8px;
  margin-left: -8px;    
  color: #777;
  border-radius: 2px 2px 0 0;
  background: #fff;
  transition: background-color .4s;
}

